h1{ text-align: center;
    font-size: 70px ; 
    background-color: rgb(125, 26, 26);
color: rgb(255, 255, 255);}

h2{ text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);}

p{ color: rgb(255, 255, 255);
   padding: 50px;}    

body{ background-color: rgb(43, 41, 52);}    

#menu{ border: solid 3px rgb(255, 255, 255);
     height: 20vh;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;}
a { text-decoration: none;
         font-size: 30px;
         color: rgb(255, 255, 255);
         font-weight: 900; } 

.ferro:hover{ color: rgb(125, 26, 26);
               font-size: 40px;
               transition: 0.5s;}   
.capi:hover{ color: rgb(27, 61, 133);
               font-size: 40px;
               transition: 0.5s;}   
.hulk:hover{ color: rgb(71, 112, 63);
               font-size: 40px;
               transition: 0.5s;}   
.thor:hover{ color: rgb(162, 86, 19);
               font-size: 40px;
               transition: 0.5s;}   
.ving:hover{ color: rgb(116, 37, 140);
               font-size: 40px;
               transition: 0.5s;}   
.herois{ border: solid 3px rgb(255, 255, 255);
         min-height: 100vh;
         width: 40vw;
         display: block;
         margin: auto;}
#homemdeferro{ background-color: rgb(125, 26, 26);}

#homemdeferro img{ display: block;
                   margin: auto;
                   width: 30vw;
                border-radius: 30px;
                border: solid 5px rgb(255, 255, 255);} 
                
#capitaoamerica{ background-color: rgb(27, 61, 133);}  

#capitaoamerica img{ display: block;
    margin: auto;
    width: 30vw;
    border-radius: 30px;
    border: solid 5px rgb(255, 255, 255);}

#hulk{ background-color: rgb(71, 112, 63); }    

#hulk img{ display: block;
    margin: auto;
    width: 30vw;
    border-radius: 30px;
    border: solid 5px rgb(255, 255, 255);}

#thor{ background-color: rgb(162, 86, 19);}    
                   
#thor img{ display: block;
    margin: auto;
    width: 30vw;
    border-radius: 30px;
    border: solid 5px rgb(255, 255, 255);}
                   